---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/site/1?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"domain": "example.com", "id": 1, "language_code": "en-us", "license":
        "<p>Except where otherwise noted, this content is licensed under a <a rel=\"license\"
        href=\"http://creativecommons.org/licenses/by/3.0/\">Creative Commons Attribution
        License</a>. See <a href=\"/Copyrights\">Copyrights.</p>", "name": "example.com",
        "resource_uri": "/api/site/1", "signup_tos": "I agree to release my contributions
        under the <a rel=\"license\" href=\"http://creativecommons.org/licenses/by/3.0/\"
        target=\"_blank\">Creative Commons-By license</a>, unless noted otherwise.
        See <a href=\"/Copyrights\" target=\"_blank\">Copyrights</a>.", "time_zone":
        "America/Chicago"}'
  recorded_at: Tue, 05 Mar 2013 05:26:38 GMT
- request:
    method: post
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/
    body:
      encoding: UTF-8
      string: ! '{"name":"TestPage1fcb02c7-6194-44eb-9d8f-96d099385f6a","content":"<p>Created!</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'ApiKey :'
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Tue, 05 Mar 2013 05:26:38 GMT
- request:
    method: post
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/
    body:
      encoding: UTF-8
      string: ! '{"name":"TestPage474d819b-5e5d-4637-929a-6c6a61096915","content":"<p>Created!</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'ApiKey :'
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 15 Mar 2013 02:32:43 GMT
recorded_with: VCR 2.4.0
