---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page?format=json&name=Dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sat, 09 Mar 2013 23:30:28 GMT
- request:
    method: put
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/Dogs
    body:
      encoding: UTF-8
      string: ! '{"content":"<foo>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'ApiKey :'
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 09 Mar 2013 23:31:40 GMT
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page?format=json&name=Dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sat, 09 Mar 2013 23:31:41 GMT
recorded_with: VCR 2.4.0
