---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page?format=json&name=Dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 0}, "objects": []}'
  recorded_at: Sun, 10 Mar 2013 19:13:48 GMT
- request:
    method: put
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/Dogs
    body:
      encoding: UTF-8
      string: ! '{"content":"<foo>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'ApiKey :'
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 10 Mar 2013 19:13:51 GMT
[...]
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page_version?format=json&name=Dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 12}, "objects": [{"content": "<foo>", "history_comment": null,
        "history_date": "2013-03-14T19:56:16.118941", "history_id": 606, "history_type":
        1, "history_user": "/api/user/7", "history_user_ip": "69.91.177.159", "id":
        200, "name": "Dogs", "resource_uri": "/api/page_version/606", "slug": "dogs"},
        {"content": "<foo2>", "history_comment": null, "history_date": "2013-03-10T17:26:54.036293",
        "history_id": 577, "history_type": 1, "history_user": "/api/user/7", "history_user_ip":
        "24.18.226.252", "id": 200, "name": "Dogs", "resource_uri": "/api/page_version/577",
        "slug": "dogs"}, {"content": "<foo>", "history_comment": null, "history_date":
        "2013-03-10T17:25:40.524698", "history_id": 576, "history_type": 0, "history_user":
        "/api/user/7", "history_user_ip": "24.18.226.252",[...]
[...]
