---
http_interactions:
- request:
    method: put
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/Dogs
    body:
      encoding: UTF-8
      string: ! '{"content":"<foo>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'ApiKey :'
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 15 Mar 2013 02:31:03 GMT
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page_version?format=json&name=Dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": "/api/page_version?offset=20&limit=20&name=Dogs&format=json",
        "offset": 0, "previous": null, "total_count": 25}, "objects": [{"content":
        "<foo>", "history_comment": null, "history_date": "2013-03-14T21:25:28.081400",
        "history_id": 640, "history_type": 1, "history_user": "/api/user/7", "history_user_ip":
        "69.91.177.159", "id": 200, "name": "Dogs", "resource_uri": "/api/page_version/640",
        "slug": "dogs"}, {"content": "<foo>", "history_comment": null, "history_date":
        "2013-03-14T21:14:26.401120", "history_id": 637, "history_type": 1, "history_user":
        "/api/user/7", "history_user_ip": "69.91.177.159", "id": 200, "name": "Dogs",
        "resource_uri": "/api/page_version/637", "slug": "dogs"}, {"content": "<foo>",
        "history_comment": null, "history_date": "2013-03-14T21:13:35.540970", "history_id":
        634, "history_type": 1, "history_user": "/api/user/7", "histor[...]
