---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/Test_Pagec2026982-a27d-414a-baff-8c23b703d958?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"content": "<p>Created page with spaces!</p>", "id": 365, "map": null,
        "name": "Test Pagec2026982-a27d-414a-baff-8c23b703d958", "page_tags": null,
        "resource_uri": "/api/page/Test_Pagec2026982-a27d-414a-baff-8c23b703d958",
        "slug": "test pagec2026982-a27d-414a-baff-8c23b703d958"}'
  recorded_at: Fri, 29 Mar 2013 02:06:32 GMT
recorded_with: VCR 2.4.0
