---
http_interactions:
- request:
    method: post
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/
    body:
      encoding: UTF-8
      string: ! '{"name":"TestPage72aa8993-bc09-4010-af55-e161b64929bb","content":"<p>Created!</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage72aa8993-bc09-4010-af55-e161b64929bb
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 16 Mar 2013 05:14:21 GMT
- request:
    method: put
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage72aa8993-bc09-4010-af55-e161b64929bb
    body:
      encoding: UTF-8
      string: ! '{"content":"<p>foo</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 16 Mar 2013 05:14:21 GMT
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page_version?format=json&name=TestPage72aa8993-bc09-4010-af55-e161b64929bb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"content": "<p>foo</p>", "history_comment":
        null, "history_date": "2013-03-16T00:14:52.750925", "history_id": 720, "history_type":
        1, "history_user": "/api/user/2", "history_user_ip": "70.89.154.169", "id":
        286, "name": "TestPage72aa8993-bc09-4010-af55-e161b64929bb", "resource_uri":
        "/api/page_version/720", "slug": "testpage72aa8993-bc09-4010-af55-e161b64929bb"},
        {"content": "<p>Created!</p>", "history_comment": null, "history_date": "2013-03-16T00:14:52.322231",
        "history_id": 719, "history_type": 0, "history_user": "/api/user/2", "history_user_ip":
        "70.89.154.169", "id": 286, "name": "TestPage72aa8993-bc09-4010-af55-e161b64929bb",
        "resource_uri": "/api/page_version/719", "slug": "testpage72aa8993-bc09-4010-af55-e161b64929bb"}]}'
  recorded_at: Sat, 16 Mar 2013 05:14:22 GMT
recorded_with: VCR 2.4.0
