---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage16de81aa-036e-410f-a2c8-c96bddcdf39a?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"content": "<p>Created!</p>", "id": 364, "map": null, "name": "TestPage16de81aa-036e-410f-a2c8-c96bddcdf39a",
        "page_tags": null, "resource_uri": "/api/page/TestPage16de81aa-036e-410f-a2c8-c96bddcdf39a",
        "slug": "testpage16de81aa-036e-410f-a2c8-c96bddcdf39a"}'
  recorded_at: Fri, 29 Mar 2013 02:06:30 GMT
recorded_with: VCR 2.4.0
