---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage15281b20-6503-4cbc-9974-4b92f74b9e3e?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"content": "<p>Created!</p>", "id": 347, "map": null, "name": "TestPage15281b20-6503-4cbc-9974-4b92f74b9e3e",
        "page_tags": null, "resource_uri": "/api/page/TestPage15281b20-6503-4cbc-9974-4b92f74b9e3e",
        "slug": "testpage15281b20-6503-4cbc-9974-4b92f74b9e3e"}'
  recorded_at: Mon, 18 Mar 2013 15:56:37 GMT
recorded_with: VCR 2.4.0
