---
http_interactions:
- request:
    method: post
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/
    body:
      encoding: UTF-8
      string: '{"name":"TestPage52af28ba-1234-47b4-896a-3874268ea8e7","content":"<p>Created!</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage52af28ba-1234-47b4-896a-3874268ea8e7
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Mar 2013 02:06:33 GMT
- request:
    method: put
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage52af28ba-1234-47b4-896a-3874268ea8e7
    body:
      encoding: UTF-8
      string: '{"content":"<p>foo</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Mar 2013 02:06:33 GMT
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page_version?format=json&name=TestPage52af28ba-1234-47b4-896a-3874268ea8e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"content": "<p>foo</p>", "history_comment":
        null, "history_date": "2013-03-28T21:07:18.287320", "history_id": 870, "history_type":
        1, "history_user": "/api/user/9", "history_user_ip": "70.89.154.169", "id":
        366, "name": "TestPage52af28ba-1234-47b4-896a-3874268ea8e7", "resource_uri":
        "/api/page_version/870", "slug": "testpage52af28ba-1234-47b4-896a-3874268ea8e7"},
        {"content": "<p>Created!</p>", "history_comment": null, "history_date": "2013-03-28T21:07:17.844399",
        "history_id": 869, "history_type": 0, "history_user": "/api/user/9", "history_user_ip":
        "70.89.154.169", "id": 366, "name": "TestPage52af28ba-1234-47b4-896a-3874268ea8e7",
        "resource_uri": "/api/page_version/869", "slug": "testpage52af28ba-1234-47b4-896a-3874268ea8e7"}]}'
  recorded_at: Fri, 29 Mar 2013 02:06:34 GMT
recorded_with: VCR 2.4.0
