---
http_interactions:
- request:
    method: post
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/
    body:
      encoding: UTF-8
      string: '{"name":"TestPage2b11303c-bca4-4f0b-9a81-47f8f3457a6c","content":"<p>Created!</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage2b11303c-bca4-4f0b-9a81-47f8f3457a6c
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Mar 2013 02:06:34 GMT
- request:
    method: put
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPage2b11303c-bca4-4f0b-9a81-47f8f3457a6c
    body:
      encoding: UTF-8
      string: '{"content":"<p>foo</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Mar 2013 02:06:35 GMT
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page_version?format=json&name=TestPage2b11303c-bca4-4f0b-9a81-47f8f3457a6c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 2}, "objects": [{"content": "<p>foo</p>", "history_comment":
        null, "history_date": "2013-03-28T21:07:19.378560", "history_id": 872, "history_type":
        1, "history_user": "/api/user/9", "history_user_ip": "70.89.154.169", "id":
        367, "name": "TestPage2b11303c-bca4-4f0b-9a81-47f8f3457a6c", "resource_uri":
        "/api/page_version/872", "slug": "testpage2b11303c-bca4-4f0b-9a81-47f8f3457a6c"},
        {"content": "<p>Created!</p>", "history_comment": null, "history_date": "2013-03-28T21:07:18.963960",
        "history_id": 871, "history_type": 0, "history_user": "/api/user/9", "history_user_ip":
        "70.89.154.169", "id": 367, "name": "TestPage2b11303c-bca4-4f0b-9a81-47f8f3457a6c",
        "resource_uri": "/api/page_version/871", "slug": "testpage2b11303c-bca4-4f0b-9a81-47f8f3457a6c"}]}'
  recorded_at: Fri, 29 Mar 2013 02:06:35 GMT
recorded_with: VCR 2.4.0
