---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPageForListing27772e2e-9c03-49d1-9357-ee78c9e2d870?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"content": "<p>Created!</p>", "id": 303, "map": null, "name": "TestPageForListing27772e2e-9c03-49d1-9357-ee78c9e2d870",
        "page_tags": null, "resource_uri": "/api/page/TestPageForListing27772e2e-9c03-49d1-9357-ee78c9e2d870",
        "slug": "testpageforlisting27772e2e-9c03-49d1-9357-ee78c9e2d870"}'
  recorded_at: Sun, 17 Mar 2013 01:13:41 GMT
recorded_with: VCR 2.4.0
