---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/site?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 0, "offset": 0, "total_count": 1}, "objects": [{"domain":
        "example.com", "id": 1, "language_code": "en-us", "license": "<p>Except where
        otherwise noted, this content is licensed under a <a rel=\"license\" href=\"http://creativecommons.org/licenses/by/3.0/\">Creative
        Commons Attribution License</a>. See <a href=\"/Copyrights\">Copyrights.</p>",
        "name": "example.com", "resource_uri": "/api/site/1", "signup_tos": "I agree
        to release my contributions under the <a rel=\"license\" href=\"http://creativecommons.org/licenses/by/3.0/\"
        target=\"_blank\">Creative Commons-By license</a>, unless noted otherwise.
        See <a href=\"/Copyrights\" target=\"_blank\">Copyrights</a>.", "time_zone":
        "America/Chicago"}]}'
  recorded_at: Fri, 29 Mar 2013 02:06:36 GMT
recorded_with: VCR 2.4.0
