---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page_tags?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 0, "offset": 0, "total_count": 2}, "objects": [{"id":
        5, "page": "/api/page/cats", "resource_uri": "/api/page_tags/cats", "tags":
        []}, {"id": 4, "page": "/api/page/TestPage145d11d3-143d-4e94-9d70-a23b1991a719",
        "resource_uri": "/api/page_tags/TestPage145d11d3-143d-4e94-9d70-a23b1991a719",
        "tags": ["/api/tag/test_page_145"]}]}'
  recorded_at: Fri, 29 Mar 2013 02:06:38 GMT
recorded_with: VCR 2.4.0
