---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/user?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 0, "offset": 0, "total_count": 10}, "objects": [{"date_joined":
        "2013-02-17T01:54:39.818130", "first_name": "", "last_name": "", "resource_uri":
        "", "username": "AnonymousUser"}, {"date_joined": "2013-02-17T01:54:39.475061",
        "first_name": "", "last_name": "", "resource_uri": "/api/user/1", "username":
        "admin"}, {"date_joined": "2013-02-17T02:18:27", "first_name": "Brandon",
        "last_name": "Faloona", "resource_uri": "/api/user/2", "username": "bfaloona"},
        {"date_joined": "2013-02-17T02:22:04", "first_name": "seth", "last_name":
        "vincent", "resource_uri": "/api/user/3", "username": "sethvincent"}, {"date_joined":
        "2013-02-18T17:38:47.905689", "first_name": "Jerry", "last_name": "Frost",
        "resource_uri": "/api/user/5", "username": "jsfrost"}, {"date_joined": "2013-02-19T13:19:00.264989",
        "first_name": "Matt", "last_name": "", "resource_uri": "/api/user/6", "username":
        "adkinsm"}, {"date_joined": "2013-02-20T17:50:23.075011", "first_name": "Neal",
        "last_name": "Rodruck", "resource_uri": "/api/user/7", "username": "NealRodruck"},
        {"date_joined": "2013-02-17T12:30:03.990737", "first_name": "Helen", "last_name":
        "Canzler", "resource_uri": "/api/user/4", "username": "hcanzl"}, {"date_joined":
        "2013-02-23T18:04:04.738064", "first_name": "will", "last_name": "", "resource_uri":
        "/api/user/8", "username": "will"}, {"date_joined": "2013-02-26T21:41:59.989091",
        "first_name": "testuser", "last_name": "", "resource_uri": "/api/user/9",
        "username": "testuser"}]}'
  recorded_at: Mon, 18 Mar 2013 15:52:00 GMT
recorded_with: VCR 2.4.0
