---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/site/1?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"domain": "example.com", "id": 1, "language_code": "en-us", "license":
        "<p>Except where otherwise noted, this content is licensed under a <a rel=\"license\"
        href=\"http://creativecommons.org/licenses/by/3.0/\">Creative Commons Attribution
        License</a>. See <a href=\"/Copyrights\">Copyrights.</p>", "name": "example.com",
        "resource_uri": "/api/site/1", "signup_tos": "I agree to release my contributions
        under the <a rel=\"license\" href=\"http://creativecommons.org/licenses/by/3.0/\"
        target=\"_blank\">Creative Commons-By license</a>, unless noted otherwise.
        See <a href=\"/Copyrights\" target=\"_blank\">Copyrights</a>.", "time_zone":
        "America/Chicago"}'
  recorded_at: Mon, 18 Mar 2013 16:00:33 GMT
- request:
    method: post
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/
    body:
      encoding: UTF-8
      string: '{"name":"TestPageForListingb14a570f-8f4e-4f38-bd40-2c005b83f3dd","content":"<p>Created
        List Test Page TestPageForListingb14a570f-8f4e-4f38-bd40-2c005b83f3dd!</p>"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ApiKey testuser:key
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Location:
      - http://ec2-54-234-151-52.compute-1.amazonaws.com/api/page/TestPageForListingb14a570f-8f4e-4f38-bd40-2c005b83f3dd
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 18 Mar 2013 16:00:34 GMT
recorded_with: VCR 2.4.0
