---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/map?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 0, "offset": 0, "total_count": 1}, "objects": [{"geom":
        {"geometries": [{"coordinates": [-122.450771, 37.762443], "type": "Point"}],
        "type": "GeometryCollection"}, "id": 1, "length": 0.0, "lines": null, "page":
        "/api/page/Front_Page", "points": {"coordinates": [[-122.450771, 37.762443]],
        "type": "MultiPoint"}, "polys": null, "resource_uri": "/api/map/Front_Page"}]}'
  recorded_at: Mon, 18 Mar 2013 15:52:02 GMT
recorded_with: VCR 2.4.0
