---
http_interactions:
- request:
    method: get
    uri: http://ec2-54-234-151-52.compute-1.amazonaws.com/api/file?format=json&limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api.v1+json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta": {"limit": 0, "offset": 0, "total_count": 1}, "objects": [{"file":
        "/media/pages/files/lkl77lz3z0csg0tx.gif", "id": 1, "name": "ajax-loader(2).gif",
        "resource_uri": "/api/file/1", "slug": "front page"}]}'
  recorded_at: Mon, 18 Mar 2013 15:52:01 GMT
recorded_with: VCR 2.4.0
